<% for(var i=0;i<challanusers.length;i++) {%>

    <tr>
        <td><%-challanusers[i].name%></td>
        <td><%-challanusers[i].email%></td>
        <td><%-challanusers[i].ruleviolated%></td>
        <td><%-challanusers[i].dateOfviolation%></td>
        <td><%-challanusers[i].vehicleno%></td> 
        <td><%-challanusers[i].amount%></td>  
      </tr>
    <%}%>